:root {
    --chess-black: rgb(69, 0, 0);
    --chess-white: #fff;
    --chess-background: darkolivegreen;
    --primary-white: #fff;
    --square-size:3em;
}

body {
    font-family: 'Roboto';
    color: var(--primary-white);
    background-color: var(--chess-background);
}


table {
    margin: 0 auto;
    border-collapse: collapse;
    background: var(--chess-white);
    border: solid 1px black;
}

tr:nth-child(odd) td:nth-child(even),
tr:nth-child(even) td:nth-child(odd) {
    background: var(--chess-black);
}

td {
    width: var(--square-size);
    height: var(--square-size);
    transition-duration: 0.2s;
}

td:hover {
    background: lightblue !important;
}

.piece:hover {
    background-color: rgba(201, 255, 151, 0.952) !important;
}

.piece {
    transition-duration: 0.2s;
    width: var(--square-size);
    height: var(--square-size);
}

.knight-black {
    background: url("assets/knight-black.png");
    background-size: cover;
}

.knight-white {
    background: url("assets/knight-white.png");
    background-size: cover;
}

.rook-white {
    background: url("assets/rook-white.png");
    background-size: cover;
}

.rook-black {
    background: url("assets/rook-black.png");
    background-size: cover;
}

.bishop-black {
    background: url("assets/bishop-black.png");
    background-size: cover;
}

.bishop-white {
    background: url("assets/bishop-white.png");
    background-size: cover;
}

.queen-white{
    background: url("assets/queen-white.png");
    background-size: cover;  
}

.queen-black{
    background: url("assets/queen-black.png");
    background-size: cover;  
}

.king-black {
    background: url("assets/king-black.png");
    background-size: cover;
}

.king-white {
    background: url("assets/king-white.png");
    background-size: cover;
}

.pawn-black{
    background: url("assets/pawn-black.png");
    background-size: cover;  
}

.pawn-white{
    background: url("assets/pawn-white.png");
    background-size: cover;  
}


.chess-board {
    background-color: var(--chess-background)
        /* justify-content: center;
        display: grid;
        grid-template-columns: repeat(8, 4em);
        grid-template-rows: repeat(8, 4em); */
}