:root {
    --chess-black: #27242191;
    --chess-brown: #482716;
    --chess-white: #61656cc9;
    --chess-green: darkolivegreen;
    --chess-background: linear-gradient(var(--chess-brown), var(--primary-dark));
    --primary-white: #fff;
    --primary-color: #e5e5e6;
    --primary-dark: #010003;
    --primary-disabled: #7b716b;

    --highlight-piece: rgba(92, 214, 255, 0.297);
    --square-size: 50px;
}

body {
    font-family: 'Roboto';
    color: var(--primary-color);
    background: url("assets/negative-space-wooden-chess-board-modified5.jpg");
    background-size: cover;
    /* background: var(--chess-background); */
}


table {
    margin: 10px;
    border-collapse: collapse;
    background: var(--chess-white);
    border: solid 1px black;
}

tr:nth-child(odd) td:nth-child(even),
tr:nth-child(even) td:nth-child(odd) {
    background: var(--chess-black);
}

td {
    width: var(--square-size);
    height: var(--square-size);
    transition-duration: 0.2s;
}

td:hover {
    background: var(--highlight-piece) !important;
}

.piece:hover {
    background-color: var(--highlight-piece) !important;
}

.piece {
    transition-duration: 0.2s;
    width: var(--square-size);
    height: var(--square-size);
}

.knight-black {
    background: url("assets/knight-black.png");
    background-size: cover;
}

.knight-white {
    background: url("assets/knight-white.png");
    background-size: cover;
}

.rook-white {
    background: url("assets/rook-white.png");
    background-size: cover;
}

.rook-black {
    background: url("assets/rook-black.png");
    background-size: cover;
}

.bishop-black {
    background: url("assets/bishop-black.png");
    background-size: cover;
}

.bishop-white {
    background: url("assets/bishop-white.png");
    background-size: cover;
}

.queen-white {
    background: url("assets/queen-white.png");
    background-size: cover;
}

.queen-black {
    background: url("assets/queen-black.png");
    background-size: cover;
}

.king-black {
    background: url("assets/king-black.png");
    background-size: cover;
}

.king-white {
    background: url("assets/king-white.png");
    background-size: cover;
}

.pawn-black {
    background: url("assets/pawn-black.png");
    background-size: cover;
}

.pawn-white {
    background: url("assets/pawn-white.png");
    background-size: cover;
}


.wrapper {

    display: flex;
    flex-wrap: wrap;
    height: 100vh;
    justify-content: center;
}

.darken-element {
    filter: brightness(50%);
}


/* Player Turn Box */
.player-turn-box {
    background-color: var(--chess-black);
    padding: 10px;
    border: solid 3px var(--primary-disabled);
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    width: fit-content;
    height: fit-content;
    gap: 5px;
    align-items: center;
    margin: 10px;
}


.player-turn-box img {
    width: 100px;
    background-color: var(--chess-white);
    border-radius: 5px;
}


/* Pawn Promotion Selector */

.pawn-promotion-selector {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: max-content;
    padding: 20px;
    border: solid 3px var(--primary-disabled);
    border-radius: 10px;
    background-color: var(--chess-black);
    display: grid;
    justify-content: center;
    align-items: center;
}

.promote-selection-list {
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
}

.pawn-select {
    background-color: var(--chess-white);
    border-radius: 4px;
    width: 60px;
    height: 60px;
    transition-duration: 0.3s;
}

.pawn-select:hover,
.pawn-select:focus {
    background-color: var(--chess-black);
    border-radius: 4px;
    width: 64px;
    height: 64px;
}



/* New Game Button */
#new-game-button {
    background-color: var(--chess-white);
    color: var(--primary-white);
    border: 0;
    border-radius: 5px;
    width: 80px;
    height: 80px;
    transition-duration: 0.5s;
    
}

#new-game-button:hover {
   
    background-color: var(--chess-black);
    border-radius: 4px;
    width: 84px;
    height: 84px;
    
}
#new-game-button span{
    font-size:40px;
    transition-duration: 0.4s;
}

#new-game-button span:hover{
    
    font-size: 50px;
}